<!-- Stylesheet-->
<style>
 section{
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding: 0 1rem;
 }
 .chat-btn{
    position: fixed;
    right: inherit;

 }
</style>

<!-- chat Pop Up-->
<section>
    <button class="chat-btn">
        <i class="material-icons">comment</i>
    </button>
    <div class="chat-popup">
        <div class="badge">1</div>
        <div class="chat-area">
            <div class="income-msg">
                <img src="" alt="">
                <span class="msg">hello there</span>
            </div>

        </div>
        <div class="input-area">
            <input class="input" type="text">
            <button class="submit"> <i class="material-icons">send</i></button>
        </div>
    </div>
</section>

<!-- javaScript -->
 
<script>

</script>

