<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"> 
                    <span>Main</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class="active" href="">Admin Dashboard</a></li>
                        <li><a href="employee-dashboard">Employee Dashboard</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-cube"></i> <span> Apps</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="chat">Chat</a></li>
                        <li class="submenu">
                        </li>
                        <li><a href="events">Calendar</a></li>
                        <li><a href="contacts">Contacts</a></li>
                        <li><a href="inbox">Email</a></li>
                        <li><a href="file-manager">File Manager</a></li>
                    </ul>
                </li>
                <li class="menu-title"> 
                    <span>Employees</span>
                </li>
                <li class="submenu">
                    <a href="#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="employees">All Employees</a></li>
                        <li><a href="leaves">Leaves (Admin) <span class="badge badge-pill bg-primary float-right">1</span></a></li>
                        <li><a href="departments">Departments</a></li>
                        <li><a href="designations">Designations</a></li>
                        <li><a href="timesheet">Timesheet</a></li>
                        <li><a href="shift-scheduling">Shift & Schedule</a></li>
                        <li><a href="overtime">Overtime</a></li>
                    </ul>
                </li>
                <li> 
                    <a href="clients"><i class="la la-users"></i> <span>Clients</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="projects">Projects</a></li>
                        <li><a href="tasks">Tasks</a></li>
                        <li><a href="task-board">Task Board</a></li>
                    </ul>
                <li> 
                    <a href="tickets"><i class="la la-ticket"></i> <span>Support Tickets</span></a>
                </li>
                <li class="menu-title"> 
                    <span>HR</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-files-o"></i> <span> Sales </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="estimates">Estimates</a></li>
                        <li><a href="invoices">Invoices</a></li>
                        <li><a href="payments">Payments</a></li>
                        <li><a href="expenses">Expenses</a></li>
                        <li><a href="provident-fund">Provident Fund</a></li>
                        <li><a href="taxes">Taxes</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-files-o"></i> <span> Accounting </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="categories">Categories</a></li>
                        <li><a href="budgets">Budgets</a></li>
                        <li><a href="budget-expenses">Budget Expenses</a></li>
                        <li><a href="budget-revenues">Budget Revenues</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-money"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="salary"> Employee Salary </a></li>
                        <li><a href="salary-view"> Payslip </a></li>
                        <li><a href="payroll-items"> Payroll Items </a></li>
                    </ul>
                </li>
                <li> 
                    <a href="policies"><i class="la la-file-pdf-o"></i> <span>Policies</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-pie-chart"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="expense-reports"> Expense Report </a></li>
                        <li><a href="invoice-reports"> Invoice Report </a></li>
                        <li><a href="payments-reports"> Payments Report </a></li>
                        <li><a href="project-reports"> Project Report </a></li>
                        <li><a href="task-reports"> Task Report </a></li>
                        <li><a href="user-reports"> User Report </a></li>
                        <li><a href="employee-reports"> Employee Report </a></li>
                        <li><a href="payslip-reports"> Payslip Report </a></li>
                        <li><a href="attendance-reports"> Attendance Report </a></li>
                        <li><a href="leave-reports"> Leave Report </a></li>
                        <li><a href="daily-reports"> Daily Report </a></li>
                    </ul>
                </li>
                <li class="menu-title"> 
                </li>
                <li><a href="resignation"><i class="la la-external-link-square"></i> <span>Resignation</span></a></li>
                <li><a href="termination"><i class="la la-times-circle"></i> <span>Termination</span></a></li>
                <li class="menu-title"> 
                    <span>Administration</span>
                </li>
                <li> 
                    <a href="users"><i class="la la-user-plus"></i> <span>Users</span></a>
                </li>
                <li> 
                    <a href="settings"><i class="la la-cog"></i> <span>Settings</span></a>
                </li>
                <li class="menu-title"> 
                    <span>Pages</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-user"></i> <span> Profile </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="profile"> Employee Profile </a></li>
                        <li><a href="client-profile"> Client Profile </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-key"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="login"> Login </a></li>
                        <li><a href="register"> Register </a></li>
                        <li><a href="forgot-password"> Forgot Password </a></li>
                        <li><a href="otp"> OTP </a></li>
                        <li><a href="lock-screen"> Lock Screen </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-exclamation-triangle"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="error-404">404 Error </a></li>
                        <li><a href="error-500">500 Error </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-hand-o-up"></i> <span> Subscriptions </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="subscriptions"> Subscriptions (Admin) </a></li>
                        <li><a href="subscribed-companies"> Subscribed Companies</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-columns"></i> <span> Pages </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="search"> Search </a></li>
                        <li><a href="faq"> FAQ </a></li>
                        <li><a href="terms"> Terms </a></li>
                        <li><a href="privacy-policy"> Privacy Policy </a></li>
                        <li><a href="blank-page"> Blank Page </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>