<!DOCTYPE html>
<html>
	<!DOCTYPE html>
	<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Eazie Rentals | About us</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="" name="keywords">
		<meta content="" name="description">
	
		<!-- Favicon -->
		<link href="img/favicon.ico" rel="icon">
		<link href="img/favicon.png" rel="icon">
		<link href="img/apple-touch-icon.png" rel="apple-touch-icon">
	  
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	  
		<!-- Bootstrap CSS File -->
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	  
		<!-- Libraries CSS Files -->
		<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="lib/animate/animate.min.css" rel="stylesheet">
		<link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
		<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	  

		<!-- Google Web Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
		
		<!-- Icon Font Stylesheet -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
		
		
		<!-- Customized Bootstrap Stylesheet -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		
		<!-- Template Stylesheet -->
		<link href="css/sinplez_property.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<style>

			 /* Container holding the image and the text */
			.about-image {
			position: relative;
			text-align: center;
			color: white;
			}

			/* Centered text */
			.centered_txt {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			} 

		</style>
	</head>
<body>
<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent">
	<nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
		<a href="./../" class="navbar-brand d-flex align-items-center text-center">
			<div class="icon p-2 me-2">
				<img class="img-fluid" src="images/logos/logo.png" alt="Icon" style="width: 30px; height: 30px;">
			</div>
			<h1 class="m-0 text-primary">Eazie Rentals</h1>
		</a>
		<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav ms-auto">
				<a href="./../" class="nav-item nav-link">Home</a>
				<a href="about" class="nav-item nav-link active">About</a>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Accomodation</a>
					<div class="dropdown-menu rounded-0 m-0">
						<a href="listing" class="dropdown-item">All Accomodations</a>
					</div>
				</div>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
					<div class="dropdown-menu rounded-0 m-0">
						<a href="testimonial" class="dropdown-item">Testimonial</a>
						<a href="404" class="dropdown-item">404 Error</a>
					</div>
				</div>
				<a href="#contact" class="nav-item nav-link">Contact</a>
			</div>
			<a href="login" class="btn btn-primary px-3 d-none d-lg-flex">Login</a>
		</div>
	</nav>
</div>
<!-- Navbar End -->

<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
	<div class="row">
	  <div class="col-md-12 col-lg-8">
		<div class="title-single-box">
		  <h1 class="title-single">304 Blaster Up</h1>
		  <span class="color-text-a">Chicago, IL 606543</span>
		</div>
	  </div>
	  <div class="col-md-12 col-lg-4">
		<nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
		  <ol class="breadcrumb">
			<li class="breadcrumb-item">
			  <a href="index.html">Home</a>
			</li>
			<li class="breadcrumb-item">
			  <a href="property-grid.html">Properties</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
			  304 Blaster Up
			</li>
		  </ol>
		</nav>
	  </div>
	</div>
  </div>
</section>
<!--/ Intro Single End /-->

    <!-- Page-->
      
	<section class="section">
        <div class="shell-wide">
          <div class="range range-30 range-xs-center">
            <div class="cell-lg-8 cell-xl-9">
              <!-- Classic slider-->
              <section class="section">
                <!-- Swiper -->
                <div class="swiper-container swiper-slider swiper-style-2" data-loop="false" data-autoplay="5500" data-simulate-touch="false" data-slide-effect="slide" data-direction="vertical">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide" data-slide-bg="images/slide-01.jpg">
                      <div class="swiper-slide-caption">
                        <div class="shell text-sm-left">
                          <h1 data-caption-animate="slideInDown" data-caption-delay="100">Your Ideal Retreat</h1>
                          <div class="slider-subtitle-group">
                            <div class="decoration-line" data-caption-animate="slideInDown" data-caption-delay="400"></div>
                            <h4 data-caption-animate="slideInLeft" data-caption-delay="700">Enjoy the world of relaxation</h4>
                            <h3 data-caption-animate="slideInLeft" data-caption-delay="800">and tranquility!</h3>
                          </div><a class="button button-effect-ujarak button-lg button-white-outline button-square" href="about-us.html" data-caption-animate="slideInLeft" data-caption-delay="1150"><span>learn more</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide" data-slide-bg="images/slide-02.jpg">
                      <div class="swiper-slide-caption">
                        <div class="shell text-sm-left">
                          <h1 data-caption-animate="slideInDown" data-caption-delay="100">Relax & Unwind</h1>
                          <div class="slider-subtitle-group">
                            <div class="decoration-line" data-caption-animate="slideInDown" data-caption-delay="400"></div>
                            <h4 data-caption-animate="slideInLeft" data-caption-delay="700">Experience the luxurious level</h4>
                            <h3 data-caption-animate="slideInLeft" data-caption-delay="800">of our spa treatments</h3>
                          </div><a class="button button-effect-ujarak button-lg button-white-outline button-square" href="about-us.html" data-caption-animate="slideInLeft" data-caption-delay="1150"><span>learn more</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide" data-slide-bg="images/slide-03.jpg">
                      <div class="swiper-slide-caption">
                        <div class="shell text-sm-left">
                          <h1 data-caption-animate="slideInDown" data-caption-delay="100">Revitalize & Relax</h1>
                          <div class="slider-subtitle-group"> 
                            <div class="decoration-line" data-caption-animate="slideInDown" data-caption-delay="400"></div>
                            <h4 data-caption-animate="slideInLeft" data-caption-delay="700">Indulge in our top-notch</h4>
                            <h3 data-caption-animate="slideInLeft" data-caption-delay="800">spa resort</h3>
                          </div><a class="button button-effect-ujarak button-lg button-white-outline button-square" href="about-us.html" data-caption-animate="slideInLeft" data-caption-delay="1150"><span>learn more</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </section>
            </div>
            <div class="cell-lg-4 cell-xl-3 reveal-lg-flex">
              <div class="hotel-booking-form">
                <h3>Book a Room</h3>
                <!-- RD Mailform-->
                <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="">
                  <div class="range range-sm-bottom spacing-20">
                    <div class="cell-lg-12 cell-md-4">
                      <p class="text-uppercase">Your Name</p>
                      <div class="form-wrap">
                        <input class="form-input" id="contact-first-name" type="text" name="name" data-constraints="@Required">
                        <label class="form-label" for="contact-first-name">Your Full Name</label>
                      </div>
                    </div>
                    <div class="cell-lg-12 cell-md-4 cell-sm-6">
                      <p class="text-uppercase">Arrival</p>
                      <div class="form-wrap">
                        <label class="form-label form-label-icon" for="date-in"><span class="icon icon-primary fa-calendar"></span><span>Check-in Date</span></label>
                        <input class="form-input" id="date-in" data-time-picker="date" type="text" name="date" data-constraints="@Required">
                      </div>
                    </div>
                    <div class="cell-lg-12 cell-md-4 cell-sm-6">
                      <p class="text-uppercase">Departure</p>
                      <div class="form-wrap">
                        <label class="form-label form-label-icon" for="date-out"><span class="icon icon-primary fa-calendar"></span><span>Check-out Date</span></label>
                        <input class="form-input" id="date-out" data-time-picker="date" type="text" name="date" data-constraints="@Required">
                      </div>
                    </div>
                    <div class="cell-lg-6 cell-md-4 cell-xs-6">
                      <p class="text-uppercase">Adults</p>
                      <div class="form-wrap form-wrap-validation">
                        <!--Select 2-->
                        <select class="form-input select-filter" data-minimum-results-search="-1" data-placeholder="1" data-constraints="@Required">
                          <option>&nbsp;</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                    </div>
                    <div class="cell-lg-6 cell-md-4 cell-xs-6">
                      <p class="text-uppercase">Children</p>
                      <div class="form-wrap form-wrap-validation">
                        <!--Select 2-->
                        <select class="form-input select-filter" data-minimum-results-search="-1" data-placeholder="0" data-constraints="@Required">
                          <option>&nbsp;</option>
                          <option value="1">0</option>
                          <option value="2">1</option>
                          <option value="3">2</option>
                          <option value="4">3</option>
                          <option value="5">4</option>
                        </select>
                      </div>
                    </div>
                    <div class="cell-lg-12 cell-md-4">
                      <button class="button button-primary button-square button-block button-effect-ujarak" type="submit"><span>check availability</span></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>
    
	  <!-- About us-->

	  </div>
	</div>
  </div>
</section>
<!--/ Property Single End /-->

<br>




<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
	<div class="container py-5">
			<div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h5 id="contact" class="text-white mb-4">Get In Touch</h5>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>1 Beacon Rd, Johannesburg, South Africa</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+2711 345 67890</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@eazierentals.co.za</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Quick Links</h5>
                        <a class="btn btn-link text-white-50" href="">About Us</a>
                        <a class="btn btn-link text-white-50" href="">Contact Us</a>
                        <a class="btn btn-link text-white-50" href="">Our Services</a>
                        <a class="btn btn-link text-white-50" href="">Privacy Policy</a>
                        <a class="btn btn-link text-white-50" href="">Terms & Condition</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Social Media Links</h5>
                        
                        <ul>
                        <li href=""><i class="fab fa-twitter"></i><a class="btn text-white-50"  href="">@eazierentals</a></li>
                        <li href=""><i class="fab fa-facebook-f"> <a class="btn text-white-50"  href="">Eazie Rentals</a></i></li>
                        <li href=""><i class="fab fa-youtube"></i><a class="btn text-white-50"  href="">Eazie Rentals</a></li>
                        <li href=""><i class="fab fa-instagram"></i><a class="btn text-white-50"  href="">@eazierentals</a></li>
                        </ul>

                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Newsletter</h5>
                        <p>Sign up for our Newsletter to stay up to date with safety trends in your area</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Eazie Rentals</a>, All Right Reserved. 
							

							Designed By <a class="border-bottom" href="">Eazie Code org</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
	<!-- JavaScript Libraries -->
	<script src="lib/jquery/jquery.min.js"></script>
	<script src="lib/jquery/jquery-migrate.min.js"></script>
	<script src="lib/popper/popper.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/easing/easing.min.js"></script>
	<script src="lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="lib/scrollreveal/scrollreveal.min.js"></script>
	<!-- Contact Form JavaScript File -->
	
	<!-- Template Main Javascript File -->
	<script src="js/main.js"></script>
	<script src="js/main(1).js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>
</html>