*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}

section {
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding: 0 1rem;
}

.chat-btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    border: none;
    background: dodgerblue;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

.chat-btn:hover, .submit:hover, #emoji-btn:hover {
    opacity: 1;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 120px;
    height: 400px;
    width: 300px;
    background-color: white;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.show {
    display: flex;
}

.chat-area {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.income-msg {
    display: flex;
    align-items: center;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.income-msg .msg {
    background-color: dodgerblue;
    color: white;
    padding: 0.5rem;
    border-radius: 25px;
    margin-left: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.badge {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: -10px;
}

.input-area {
    position: relative;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 5px;
    height: 2.2rem;
}

#emoji-btn {
    position: absolute;
    font-size: 1.2rem;
    background: transparent;
    right: 50px;
    top: 2px;
    opacity: 0.5;
}

.submit {
    padding: 0.25rem;
    margin-left: 0.5rem;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.7;
}

.out-msg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.out-msg .my-msg {
    background-color: #969696;
    color: white;
    padding: 0.5rem;
    border-radius: 25px;
    margin-left: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.my-msg {
    display: flex;
    justify-content: flex-end;
    margin: 00.75rem;
    word-break: break-all;
}

@media (max-width: 500px) {

    .chat-popup {
        bottom: 120px;
        right: 10%;
        width: 80vw;
    }
}